.container{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}
.top{
	background-color:#E6E7E8;
	min-height: 250px;
	overflow: hidden;
	}
	.side{
		background-color: #E6E7E8;
		width: 250px;
		float: left;
		min-height: 250px;
		max-height: 250px;
	}
	.side img{
		width:  160px;
		height: 160px;
		border-radius: 50%;
		padding: 45px 45px 45px 45px;
	}
	.deskripsi{
		background-color: #E6E7E8;
		width: 650px;
		float: right;
		min-height: 250px;
		max-height: 250px;
	}
	.deskripsi h1{
		padding-top: 35px;
		padding-left: 5px;
		font-family: ubuntu,sans-serif;
		font-size: 26px;
		font-style:normal; 
		font-variant: normal;
		font-weight: 400; 
		line-height: 12px;
	}
	.deskripsi h3{
		padding-left: 5px;
		font-family: ubuntu,sans-serif;
		font-size: 16px;
		color: steelblue;
		font-style: normal;
		line-height: 2px;
		font-weight: 500;
	}
	.deskripsi p{
		padding-top: 5px;
		padding-left: 5px;
		font-family: ubuntu,sans-serif;
		font-size: 14px;
		line-height: 18px;
	}

.middle{
	background-color:blue;
	min-height: 40px;
	max-height: 40px;
	overflow: hidden;;
}
.kolom1{
	background-color: orange;
	width: 300px;
	float: left;
	min-height: 40px;
	max-height: 40px;
	overflow: hidden;
	}
	.sub1kolom1{
		background-color: pink;
		width: 80px;
		min-height: 40px;
		max-height: 40px;
		float: left;
		}
		.sub1kolom1 img{
			width: 35px;
		}
	.sub2kolom1{
		background-color: purple;
		min-height: 40px;
		width: 220px;
		float: right;
	}

.kolom2{
	background-color: green;
	width: 300px;
	float: left;
	min-height: 40px;
	max-height: 40px;
	}
	.sub1kolom2{
		background-color: pink;
		width: 80px;
		min-height: 40px;
		max-height: 40px;
		float: left;
		}
	.sub2kolom2{
		background-color: green;
		min-height: 40px;
		width: 220px;
		float: right;
	}
.kolom3{
	background-color: red;
	width: 300px;
	float: right;
	min-height: 40px;
	max-height: 40px;
	}
	.sub1kolom3{
		background-color: pink;
		width: 80px;
		min-height: 40px;
		max-height: 40px;
		float: left;
		}
	.sub2kolom3{
		background-color: red;
		min-height: 40px;
		width: 220px;
		float: right;
	}
