.container{
	margin-left: auto;
	margin-right: auto;
	width: 900px;
}
.top{
	background-color:#E6E7E8;
	min-height: 250px;
	max-height: 250px;
	overflow: hidden;
	}
	.side{
		background-color: #E6E7E8;
		width: 250px;
		float: left;
		min-height: 250px;
		max-height: 250px;
	}
	.side img{
		width:  160px;
		height: 160px;
		border-radius: 50%;
		padding: 45px 45px 45px 45px;
	}
	.deskripsi{
		background-color: #E6E7E8;
		width: 650px;
		float: right;
		min-height: 250px;
		max-height: 250px;
	}
	.deskripsi h1{
		padding-top: 35px;
		padding-left: 5px;
		font-family: ubuntu,sans-serif;
		font-size: 26px;
		font-style:normal; 
		font-variant: normal;
		font-weight: 400; 
		line-height: 12px;
	}
	.deskripsi h3{
		padding-left: 5px;
		font-family: ubuntu,sans-serif;
		font-size: 16px;
		color: steelblue;
		font-style: normal;
		line-height: 2px;
		font-weight: 500;
	}
	.deskripsi p{
		padding-top: 5px;
		padding-left: 5px;
		font-family: ubuntu,sans-serif;
		font-size: 14px;
		line-height: 18px;
	}

.middle{
	background-color:#479099;
	min-height: 40px;
	max-height: 40px;
	overflow: hidden;;
}
.kolom1{
	background-color: #479099;
	width: 300px;
	float: left;
	min-height: 40px;
	max-height: 40px;
	overflow: hidden;
	}
	.sub1kolom1{
		background-color: #479099;
		width: 100px;
		min-height: 40px;
		max-height: 40px;
		float: left;
		}
		.sub1kolom1 img{
			width: 29px;
			height: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left:59px;
		}
	.sub2kolom1{
		background-color: #479099;
		min-height: 40px;
		width: 200px;
		float: right;
		font-family: ubuntu,sans-serif;
		line-height: 40px;
	}

.kolom2{
	background-color: #479099;
	width: 300px;
	float: left;
	min-height: 40px;
	max-height: 40px;
	}
	.sub1kolom2{
		background-color: #479099;
		width: 60px;
		min-height: 40px;
		max-height: 40px;
		float: left;
		}
		.sub1kolom2 img{
			width: 16px;
			height: 21px;
			padding-top: 8px;
			padding-bottom: 8px;
			padding-left:22px;
			}
	.sub2kolom2{
		background-color: #479099;
		min-height: 40px;
		width: 240px;
		float: right;
		font-family: ubuntu,sans-serif;
		line-height: 40px;
	}
.kolom3{
	background-color: #479099;
	width: 300px;
	float: right;
	min-height: 40px;
	max-height: 40px;
	}
	.sub1kolom3{
		background-color: #479099;
		width: 50px;
		min-height: 40px;
		max-height: 40px;
		float: left;
		}
		.sub1kolom3 img{
			width: 16px;
			height: 16px;
			padding-top: 12px;
			padding-bottom: 12px;
			padding-left:22px;
			}
	.sub2kolom3{
		background-color: #479099;
		min-height: 40px;
		width: 250px;
		float: right;
		font-family: ubuntu,sans-serif;
			line-height: 40px;
	}
	
