.container{
	background-color:#F6F6F6;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
.header {
            background-color: #F6F6F6;
            min-height: 200px;   
            
        }
.foto{
	background-color: #F6F6F6;
	height: 200px;
	width: 200px;
	float: left;
}
.singkat p{
	line-height: 17px;
	
}
.nav img{
	width: 160px;
	height: 160px;
	border-radius: 50%;
	margin : 20px 20px 20px 20px;
	
} 
.singkat{
	width: 600px;
	height: 200px;
	background-color: #F6F6F6;
	float :right;
	overflow: hidden;

}
.singkat1{
	background-color:green; 
	height:100px;

}
.sosial{
	background-color: white;
	min-height: 30px;
	vertical-align: middle;
	text-align: center;
	line-height: 30px;

}


        .contentdummy {
            background-color: #F6F6F6;
            min-height: 500px;
            padding-top: 10px;
        }
        .footer {
            background-color: #ccc;
            min-height: 50px;
        }
.content{
	padding: 10px;
}
.nav {
	width: 200px;
	float: left;
}
.main{
	width: 800px;
	float: right;
}